
<!-- Start Breadcrumb Area -->
<div class="axil-breadcrumb-area breadcrumb-style-2 pt--170 pb--70 theme-gradient">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 order-2 order-lg-1 mt_md--30 mt_sm--30">
                <div class="inner">
                    <div class="content">
                        <h1 class="page-title mb--20">Best solutions for your business</h1>
                        <p class="subtitle-2">A quick view of industry specific problems solved with design
                            by
                            the awesome team at Softalx.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 order-1 order-lg-2">
                <div class="breadcrumb-thumbnail-group with-image-group text-end">
                    <div class="thumbnail">
                        <%= image_tag("others/keystoke-image-1.png", class: "paralax-image", alt: "Services Image") %>
                    </div>
                    <div class="image-group">
                        <%= image_tag("others/keystoke-image-2.svg", class: "paralax-image", alt: "Services Image") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Area -->




<!-- Start Service Area -->
<div class="axil-service-area ax-section-gap bg-color-lightest">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-title text-start">
                    <span class="sub-title extra08-color wow" data-splitting>what we can do for you</span>
                    <h2 class="title wow" data-splitting><span>Our capabilities</span></h2>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Start Single Service -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                <div class="axil-service text-center axil-control paralax-image">
                    <div class="inner">
                        <div class="icon">
                            <div class="icon-inner">
                                <%= image_tag("icons/layer.svg", alt: "Icon images") %>
                                <div class="image-2">
                                <%= image_tag("icons/icon-04.svg", alt: "shape images") %>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">Design</a></h4>
                            <p>At Softalx, we believe that design is more than just aesthetics.
                             It's about crafting user experiences that are both functional and visually appealing.
                              Our team of designers work closely with our developers to ensure that every 
                              website and app we build not only looks great, but also provides an intuitive 
                              and seamless user journey </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Service -->

            <!-- Start Single Service -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                <div class="axil-service text-center axil-control paralax-image active">
                    <div class="inner">
                        <div class="icon gradient-color-02">
                            <div class="icon-inner">
                                <%= image_tag("icons/layer.svg", alt: "Icon images") %>
                                <div class="image-2">
                                <%= image_tag("icons/icon-02.svg", alt: "shape images") %>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">Development</a></h4>
                            <p>Our digital agency specializes in creating custom websites and apps 
                            that drive business success. Our development team is skilled in the latest
                             technologies and methodologies, ensuring that every project we take on is 
                             delivered with efficiency, scalability, and security in mind. Whether it's a 
                             simple website or a complex app, we bring your ideas to life with seamless 
                             functionality and cutting-edge development practices. </p>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Service -->

            <!-- Start Single Service -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                <div class="axil-service text-center axil-control paralax-image">
                    <div class="inner">
                        <div class="icon gradient-color-03">
                            <div class="icon-inner">
                                <%= image_tag("icons/layer.svg", alt: "Icon images") %>
                                <div class="image-2">
                                <%= image_tag("icons/icon-01.svg", alt: "shape images") %>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">Marketing</a></h4>
                            <p>At Softalx Solutions, we understand that building a great
                             website or app is only half the battle. That's why we offer comprehensive 
                             online marketing services to help you reach and engage your target 
                             audience. From search engine optimization to social media marketing, our 
                             team will work with you to create and execute a marketing strategy that 
                             drives traffic, generates leads, and boosts conversions. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Service -->

            <!-- Start Single Service -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                <div class="axil-service text-center axil-control paralax-image">
                    <div class="inner">
                        <div class="icon gradient-color-04">
                            <div class="icon-inner">
                                <%= image_tag("icons/layer.svg", alt: "Icon images") %>
                                <div class="image-2">
                                <%= image_tag("icons/icon-03.svg", alt: "shape images") %>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">Maintenance</a></h4>
                            <p>we understand the importance of maintaining the longevity and 
                            performance of your website or app. That's why we offer comprehensive 
                            maintenance and support services to ensure that your digital presence 
                            remains secure, up-to-date, and functioning optimally. Our team of 
                            experts will proactively monitor and resolve any technical issues, 
                            as well as provide ongoing improvements to enhance the user experience. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Service -->

            <!-- Start Single Service -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                <div class="axil-service text-center axil-control paralax-image">
                    <div class="inner">
                        <div class="icon gradient-color-06">
                            <div class="icon-inner">
                                <%= image_tag("icons/layer.svg", alt: "Icon images") %>
                                <div class="image-2">
                                <%= image_tag("icons/icon-02.svg", alt: "shape images") %>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">Branding</a></h4>
                            <p>Branding is a crucial aspect of any successful business,
                             we understand that your brand is much more than just
                              a logo. Our team of branding specialists will work with you to 
                              develop a comprehensive strategy that reflects your company's values,
                               messaging, and personality. From visual identity to tone of voice, we'll 
                               ensure that your brand is consistently reflected in all of your digital 
                               touchpoints, from your website to your social media presence.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Service -->

            <!-- Start Single Service -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                <div class="axil-service text-center axil-control paralax-image">
                    <div class="inner">
                        <div class="icon gradient-color-05">
                            <div class="icon-inner">
                                <%= image_tag("icons/layer.svg", alt: "Icon images") %>
                                <div class="image-2">
                                <%= image_tag("icons/icon-02.svg", alt: "shape images") %>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <h4 class="title"><a href="#">SEO optimization</a></h4>
                            <p>Search Engine Optimization (SEO) is a crucial aspect of digital marketing 
                            that helps businesses reach their target audience through search engines like Google. 
                            We offer comprehensive SEO services to ensure that your website and app are optimized 
                            for search engines and are easily discoverable by your target audience. Our team of 
                            experts will conduct a thorough analysis of your website, identify areas for 
                            improvement, and implement a customized strategy to increase your online 
                            visibility and drive organic traffic.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Single Service -->

        </div>
    </div>
</div>
<!-- End Service Area -->

<!-- Start Our Service Area  -->
<div class="axil-service-area ax-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-8">
                <div class="section-title text-start">
                    <span class="sub-title extra04-color wow" data-splitting>process</span>
                    <h2 class="title wow" data-splitting>This is our way</h2>
                    <p class="subtitle-2">We believe in using cutting-edge technology and design principles to create products that
                     not only look amazing, but also deliver real value to our clients</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start Single Service  -->
            <div class="col-lg-4 col-md-6 col-12 mt--50 mt_md--40 mt_sm--30 move-up wow">
                <div class="axil-service-style--3">
                    <div class="icon">
                        <%= image_tag("icons/layer.svg", alt: "images") %>
                        <div class="text">1</div>
                    </div>
                    <div class="content">
                        <h4 class="title"><a href="#">1. Discuss</a></h4>
                        <p>At Softalx, we believe in the power of open communication and 
                        collaboration. That's why we offer a thorough and transparent consultation 
                        process to help our clients make informed decisions about their website or app project.</p>
                    </div>
                </div>
            </div>
            <!-- End Single Service  -->

            <!-- Start Single Service  -->
            <div class="col-lg-4 col-md-6 col-12 mt--50 mt_md--40 mt_sm--30 move-up wow">
                <div class="axil-service-style--3 color-var--2">
                    <div class="icon">
                        <%= image_tag("icons/layer.svg", alt: "images") %>
                        <div class="text">2</div>
                    </div>
                    <div class="content">
                        <h4 class="title"><a href="#">2. Mapping</a></h4>
                        <p>We understand the importance of mapping out a clear and effective 
                        plan before embarking on a website or app project. That's why we offer
                         mapping services to help our clients understand their requirements
                          and identify the best course of action. </p>
                    </div>
                </div>
            </div>
            <!-- End Single Service  -->

            <!-- Start Single Service  -->
            <div class="col-lg-4 col-md-6 col-12 mt--50 mt_md--40 mt_sm--30 move-up wow">
                <div class="axil-service-style--3 color-var--3">
                    <div class="icon">
                        <%= image_tag("icons/layer.svg", alt: "images") %>
                        <div class="text">3</div>
                    </div>
                    <div class="content">
                        <h4 class="title"><a href="#">3. Execution</a></h4>
                        <p>Execution is the key to delivering successful website and app projects.
                         Our team follows a proven process that starts with understanding your
                          requirements and ends with the launch of a high-quality, 
                          functional, and scalable product. </p>
                    </div>
                </div>
            </div>
            <!-- End Single Service  -->
        </div>
    </div>
</div>
<!-- End Our Service Area  -->


<%= render 'shared/get_in_touch' %>